<div flex="100" layout="column" layout-align="center start" layout-fill="">
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="vm.left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-is-open="vm.test"
        md-whiteframe="4"
        >
        <div 
            flex="100" 
            id="doneyet-left"
            layout="column" 
            ng-cloak=""
            ng-controller="LeftController as vm"
            >
            <md-button 
                ng-click="vm.goHome()"
                class="md-raised md-primary"
                >
                HOME
            </md-button>
            <md-button
                class="md-raised md-primary"
                ng-click="vm.addTimer()"
                >
                ADD TIMER
            </md-button>
            <md-button 
                aria-label="{{timer.name}}" 
                class="md-raised" 
                ng-click="vm.loadTimer(timer); vm.test = !vm.test" 
                ng-repeat="timer in vm.timers"
                >
                {{timer.name}}
                <md-divider></md-divider>
            </md-button>
        </div>
    </md-sidenav>
    <md-content layout-padding show-sm hide-gt-sm ng-click="vm.test = !vm.test">
        HEY
    </md-content>
</div>
